.nannyCard {
  position: relative;
  display: flex;
  gap: 7px;
  border-radius: 24px;
  padding: 20px;

  background-color: #f3f3f3;
}

.nannyImg {
  border-radius: 15px;
  width: 96px;
  height: 96px;
}

.readMoreBtn {
  text-decoration: underline;
  border: none;
  background-color: inherit;
}
